.home {
  height: 100vh;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.userContainer {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 2rem;
  margin-right: 5rem;
  height: 45rem;
  position: absolute;
  left: 1rem;
  top: 5%;
  gap: 1rem;
}

.columns {
  display: flex;
  position: absolute;
  top: 15%;
  left: 25rem;
  gap: 1rem;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 1rem;
  height: 40rem;
}

.addTaskField {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.taskActionForm {
  position: absolute;
  top: -80%;
  left: 35%;
  height: 25rem;
  width: 30rem;
  background-color: rgb(212, 189, 189);
  border-radius: 15px;
}

.taskActionInputFeild {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.history {
  width: 100%;
  height: 25rem;
  overflow-y: auto;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid black;
  gap: 0.4rem;
}
