.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: rgb(173, 169, 169);
  border-radius: 10px;

  margin-block: 1rem;
  transition: all 200ms ease-in-out;
}

.card:hover {
  background-color: rgb(247, 242, 242);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 12px;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.925);
  transition: all 200ms ease-in-out;
}

.card.dragging {
  background-color: rgb(113, 223, 186);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: all 500ms ease-in-out;
}

@media (hover: none) and (pointer: coarse) {
  .card:hover {
    box-shadow: none;
    transform: none;
     background-color: rgb(173, 169, 169);
     margin-bottom: none;
  }
}
